parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    scanDirectories:
        - %currentWorkingDirectory%
    bootstrapFiles:
        - %currentWorkingDirectory%/../../../autoload.php

    paths:
        - %currentWorkingDirectory%
    excludes_analyse:
        - %currentWorkingDirectory%/Components/Smarty
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/tests/Unit/config.php
        - %currentWorkingDirectory%/tests/Functional/config.php
        - %currentWorkingDirectory%/Resources/smarty
